/* Navbar */
#signUpBtn {
  width: 100%;
 
}
.card-text {

  text-align: justify;
  text-justify: inter-word;

}
#loginBtn {
  margin-right: 20px;
  width: 100%;
}

.search-btn {
  margin: 30px;
  width: 100%;
}

.carousel-item {
  height: 50vh;
}

.advertise-carousel{
  padding-top: 150px;
  text-align: center;
  background: #a5a5a5;
}

.card {
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footer-cta {
box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.price {
color: #263238;
font-size: 24px;
}

.card-title {
color:#263238
}

.sale {
color: #E53935
}

.sale-badge {
background-color: #E53935
}

.checked {
  color: orange;
}

.checked-vr-chat-quest {
  color: #27ae60;
}

.checked-vr-chat-pcvr {
  color: #2980b9;
}

.checked-vr-horizon {
  color: #8e44ad;
}